Site de Publicações de artigos, com acervo de:  <strong> <%= Article.public_count %> </strong> trabalhos publicados.

<ul>
    <div class="div-li">

      <% @articles.each do |article| %>
      <% unless article.archived? %>
      <li class='li-artigo'>
        
        <%= link_to article.title, article %>
      </li>
      <% end %>
      <% end %>
    </div>
  </ul>
  
  <%= link_to "Criar Novo artigo", new_article_path %>
<div><%= button_to 'Desconectar ', destroy_admin_session_path, method: :delete, class:'btn btn-logout' %></div>
