<div class="site-intro">
  <h2>Site de Publicações de artigos, com acervo de:</h2>
  <p><strong><%= Article.public_count %> </strong> trabalhos publicados.</p>
</div>

<ul class="produtos">
  <% if @articles.present? %>
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <li class="li-artigo">
          <h2><%= link_to article.title, article %></h2>
        </li>
      <% end %>
    <% end %>
  <% else %>
    <li>Nenhum artigo encontrado.</li>
  <% end %>
</ul>
