/* Reset básico */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color:  #BBBBBB;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  margin: 0;
}

/* Cabeçalho */
header {
  background: #BBBBBB;
  padding: 20px 0;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  text-align: center;
  margin-top: 50px; /* Distância entre os artigos e a navegação */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #C78C19;
  text-decoration: underline;
}

/* Produtos */
.produtos {
  width: 940px;
  margin: 50px auto;
  padding: 50px 0;
  list-style: none;
}

.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 10px;
}

.produtos li:hover {
  border-color: #27AE60;
}

.produtos li h2 {
  font-size: 30px;
  font-weight: bold;
}


.produto-preco {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

/* Links */
.links {
  text-align: center;
  background: #CD6155;
  border-bottom: 10px solid #000000;
  border-bottom-color: #7B241C;
  padding: 20px 0;
}

.links h2 {
  font-weight: bold;
  font-size: 25px;
  color: white;
  padding: 30px 20px;
}

.links li {
  display: inline-block;
  width: 10%;
}

.nome-site {
  margin: 10px 0 10px 0;
  font-size: 21px;
  color: white;
  font-style: italic;
}

.img {
  max-height: 82px;
  width: auto;
}

.img:hover {
  transition-duration: 300ms;
  max-height: 90px;
}

html {
  height: 100%;
}

body.sessions-new {
  padding-top: 0;
}

body.sessions-new header,
body.sessions-new footer {
  display: none;
}

body.sessions-new {
  position: relative;
  min-height: 100vh;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

/* Rodapé */
footer {
  text-align: center;
  background: #BBBBBB;
  padding: 40px 0;
}

.copyright {
  color: #FFFFFF;
  font-size: 13px;
  margin: 20px 0 0;
}
