<p>Olá <%= @resource.email %>!</p>

<p>Sua senha pode estar comprometida, voce pode criar uma nova senha para sua conta acessando o link abaixo: </p>

<p>Se você não realizou essa ação, desconsiderar este email.</p>
<p>Para criar uma nova senha forte para sua conta, acesse este link: </p>
<p><%= link_to 'Resete de senha ', edit_password_url(@resource, reset_password_token: @token) %></p>